<h1> Sign UP </h1>

<form action="/users/create" method="POST">
    <input type="text" name="username" placeholder="Emter username" >
    <input type="email" name="email" placeholder="Emter email">
    <input type="password" name="password" placeholder="Emter Password">
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <input type="submit" value="sign up">
</form>

<p><a href="/users/auth/google">Google Sign IN</a></p>