<h1>SIGN IN</h1>
<form action="/users/createsession" method="POST">
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="submit" value="sign in">
</form>

<p><a href="/users/auth/google">Google Sign In </a></p>